TELEGRAM_TOKEN='7494273448:AAEaY3mDXFKB5pItRnp6aPa-4MlCn_UHbnw'

DATABASE_URL_ASYNC=postgresql+asyncpg://postgres:postgres@localhost:5432/easy-dev
DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/easy-dev
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=easy-dev
DB_HOST=db
DB_PORT=5432